In [1]:
prices = [8.70, 8.91, 8.71]

In [3]:
8.91/8.70 - 1

0.024137931034482918

In [6]:
prices[1:]

[8.91, 8.71]

In [7]:
prices[:-1]

[8.7, 8.91]

In [8]:
import numpy as np

In [11]:
prices_a = np.array(prices)

In [12]:
prices_a

array([8.7 , 8.91, 8.71])

In [13]:
prices_a[1:]/prices_a[:-1] - 1

array([ 0.02413793, -0.02244669])

In [14]:
import pandas as pd

In [20]:
prices = pd.DataFrame({
                      "BLUE": [8.70, 8.91, 8.71, 8.43, 8.73],
                      "ORANGE": [10.66, 11.08, 10.71, 11.59, 12.11]
                      })

In [25]:
prices.iloc[1:].values / prices.iloc[:-1]

       BLUE    ORANGE
0  1.024138  1.039400
1  0.977553  0.966606
2  0.967853  1.082166
3  1.035587  1.044866